[user]
	name = Pablo Lalloni
	email = plalloni@gmail.com
[push]
	default = simple
[http]
	cookiefile = ~/.gitcookies
[alias]
    change = codereview change
    gofmt = codereview gofmt
    mail = codereview mail
    pending = codereview pending
    submit = codereview submit
    sync = codereview sync
[credential]
	helper = store
[license]
	author = Pablo Lalloni <plalloni@gmail.com>
[merge]
	tool = meld
