[user]
	name = Pablo Lalloni
	email = plalloni@gmail.com
[push]
	default = simple
[http]
	cookiefile = ~/.gitcookies
[alias]
    change = codereview change
    gofmt = codereview gofmt
    mail = codereview mail
    pending = codereview pending
    submit = codereview submit
    sync = codereview sync
[credential]
	helper = cache --timeout=1576800000
[license]
	author = Pablo Lalloni <plalloni@gmail.com>
[merge]
	tool = kdiff3
[sendemail]
	smtpserver = smtp.gmail.com
	smtpuser = plalloni@gmail.com
	smtpserverport = 587
	smtpencryption = tls
[url "git@gitlab.cloudint.afip.gob.ar:"]
	insteadOf = https://gitlab.cloudint.afip.gob.ar
